.product-details {
    display: flex;
    justify-content: flex-start; /* Alineación de los elementos al inicio */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* Contenedor de imagen principal y miniaturas */
.product-images-container {
    display: flex;
    flex-direction: column; /* Asegura que la imagen principal esté arriba y las miniaturas abajo */
    align-items: center; /* Centra las imágenes dentro del contenedor */
    width: 45%; /* Reducimos el ancho de este contenedor */
    margin-right: -2%; /* Reducimos el espacio en el lado derecho */
    margin-left: 10px; /* Añadimos un margen a la izquierda para separar las imágenes del texto */
    margin-top: 100px; /* Añadimos un margen superior para separar las imágenes del texto */
}

/* Imagen principal */
.product-image-container {
    width: 100%; /* Toma el 100% del ancho disponible */
    display: flex;
    justify-content: center; /* Centrado de la imagen */
    background-color: transparent;
    margin-bottom: 20px; /* Espacio debajo de la imagen principal */
}


/* Imagen principal */
.product-main-image {
    width: auto;
    height: auto;
    width: 40%;  /* Usamos la variable para controlar el tamaño */
    border-radius: 10px;
    background-color: transparent;
    object-fit: contain;
    margin-top: 90px;
}

/* Contenedor de las miniaturas de las imágenes */
.product-thumbnails {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* Cada miniatura */
.thumbnail-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

/* Efecto al pasar el cursor sobre las miniaturas */
.thumbnail-container:hover {
    border-color: #ffffff;
}

/* Estilo de las imágenes dentro de las miniaturas */
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contenedor de la información del producto */
.product-details-info {
    width: 45%; /* Ajuste del tamaño del contenedor */
    padding: 20px;
    border-radius: 10px;
    margin-top: 200px; /* Mueve el cuadro de información hacia abajo */
    margin-left: 0; /* No tenemos que dejar margen izquierdo, ya que está más cerca de la imagen */
}

/* Estilos de texto */
.product-name {
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif; /* Aplicar la fuente Titillium Web */
    display: block; /* Cambiado de inline-block a block */
    transform: scaleY(0.7); /* Aplana el texto verticalmente al 90% de su altura */
}

.product-material{
    font-size: 1rem !important; /* Igualamos el tamaño de la fuente al de .product-name */
    font-weight: bold !important;
    color: #000000 !important; /* Usamos !important para asegurarnos que el color sea el correcto */
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    text-decoration: none !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-family: 'Titillium Web', sans-serif !important; /* La misma fuente Titillium Web */
    display: block !important; /* Cambiado de inline-block a block */
    transform: scaleY(0.7) !important; /* Aplana el texto verticalmente al 90% de su altura */
    line-height: 1.6 !important; /* Mantener la propiedad de line-height */
}

.product-description {
    color: #000000 !important; /* Usamos !important para asegurarnos que el color sea el correcto */
}

/* Estilo de las opciones de tamaño */
.product-options {
    margin-bottom: 20px;
}

.product-options label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #000000;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-family: 'Titillium Web', sans-serif !important; /* La misma fuente Titillium Web */
    display: block !important; /* Cambiado de inline-block a block */
    transform: scaleY(0.7) !important; /* Aplana el texto verticalmente al 90% de su altura */
    line-height: 1.6 !important; /* Mantener la propiedad de line-height */
}

.product-options select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

/* Precio del producto */
.product-price {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-family: 'Titillium Web', sans-serif !important; /* La misma fuente Titillium Web */
    display: block !important; /* Cambiado de inline-block a block */
    transform: scaleY(0.7) !important; /* Aplana el texto verticalmente al 90% de su altura */
    line-height: 1.6 !important; /* Mantener la propiedad de line-height */
}

/* Botón de añadir al carrito */

.add-to-cart-button {
    position: relative;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #000; /* Texto negro inicial */
    background-color: #fff; /* Fondo blanco inicial */
    border: 1px solid #000; /* Borde negro */
    border-radius: 5px;
    cursor: pointer;
    width: 60%; /* Mantener el ancho del botón */
    transition: color 0.3s ease, background-color 0.3s ease, outline 0.1s ease, border 0.1s ease;
    overflow: hidden; /* Para ocultar el pseudo-elemento fuera del botón */
    z-index: 1; /* Mantener el texto encima del pseudo-elemento */
}

/* Pseudo-elemento que funciona como la animación */
.add-to-cart-button::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0; /* Inicialmente invisible */
    bottom: 0;
    left: 0;
    background: #000; /* Color de fondo negro */
    z-index: -1; /* Detrás del contenido del botón */
    transition: height 0.3s ease; /* Suavizar la expansión del fondo */
}

/* Cambios al hacer hover */
.add-to-cart-button:hover {
    color: #fff; /* Texto cambia a blanco */
    background-color: #fff; /* Mantener fondo blanco */
}

.add-to-cart-button:hover::after {
    top: 0;
    height: 100%; /* Llena todo el botón */
}

/* Efecto al hacer clic */
.add-to-cart-button:active {
    top: 2px; /* Efecto de clic */
}


.size-recommendation {
    font-size: 0.7em;
    color: #181818;
    margin-bottom: 10px;
    font-style: italic;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-family: 'Titillium Web', sans-serif !important; /* La misma fuente Titillium Web */
    display: block !important; /* Cambiado de inline-block a block */
    transform: scaleY(0.9) !important; /* Aplana el texto verticalmente al 90% de su altura */
    line-height: 1.6 !important; /* Mantener la propiedad de line-height */
    
}


/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .add-to-cart-button {
        width: 100%;           /* Hace que el botón ocupe todo el ancho disponible */
        padding: 10px 20px;    /* Reduce el padding para hacerlo más pequeño */
        font-size: 1rem;       /* Reduce el tamaño de la fuente */
    }
}



/* Responsive Design */
@media (max-width: 768px) {
    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-images-container,
    .product-details-info {
        width: 100%;
    }

    .product-details-info {
        margin-top: 20px;
    }

    .product-name {
        text-align: center;
    }

    .product-main-image {
        width: 80%; /* Aumentar el tamaño de la imagen principal en móvil */
        margin-top: 20px; /* Ajustar el margen superior */
    }

    .product-options {
        text-align: center; /* Centrar las opciones de tamaño */
    }

    .quantity-container {
        justify-content: center; /* Centrar el contenedor de cantidad */
    }

    .quantity-button {
        margin: 0 5px; /* Ajustar el margen de los botones de cantidad */
    }

    #quantity-input {
        width: 50px; /* Ajustar el tamaño del campo de cantidad */
    }
    .product-material{
        text-align: center;
        font-size: 0.7rem !important; /* Igualamos el tamaño de la fuente al de .product-name */
        color: #ffffff !important; /* Usamos !important para asegurarnos que el color sea el correcto */
        margin-top: 0 !important;
        margin-bottom: 10px !important;
        text-decoration: none !important;
        letter-spacing: 2px !important;
        text-transform: uppercase !important;
        font-family: 'Titillium Web', sans-serif !important; /* La misma fuente Titillium Web */
        display: block !important; /* Cambiado de inline-block a block */
        /* transform: scaleY(0.7) !important; Aplana el texto verticalmente al 90% de su altura */
        line-height: 1.6 !important; /* Mantener la propiedad de line-height */
    }
    
    .product-description {
        text-align: center;
        font-size: 1rem !important; /* Igualamos el tamaño de la fuente al de .product-name */
        font-weight: bold !important;
        color: #000000 !important; /* Usamos !important para asegurarnos que el color sea el correcto */
        margin-top: 0 !important;
        margin-bottom: 10px !important;
        text-decoration: none !important;
        letter-spacing: 2px !important;
        text-transform: uppercase !important;
        font-family: 'Titillium Web', sans-serif !important; /* La misma fuente Titillium Web */
        display: block !important; /* Cambiado de inline-block a block */
        transform: scaleY(0.7) !important; /* Aplana el texto verticalmente al 90% de su altura */
        line-height: 1.6 !important; /* Mantener la propiedad de line-height */ /* Usamos !important para asegurarnos que el color sea el correcto */
    }

    .product-details-info {
        text-align: center;
    }
}


/* Estilo general para los botones de tallas */
.size-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaciado entre los botones */
}

.size-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #fff; /* Fondo blanco por defecto */
    color: #000000; /* Color de texto oscuro */
    border: 2px solid #ffffff; /* Borde gris claro */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Estilo al pasar el mouse por encima */
.size-button:hover {
    background-color: #ffffff; /* Fondo gris claro al pasar el ratón */
    outline: 2px solid #000000;
}

/* Estilo para las tallas fuera de stock */
.size-button.out-of-stock {
    background-color: #999; /* Color de fondo gris para tallas fuera de stock */
    text-decoration: line-through; /* Tachado */
    cursor: not-allowed; /* Deshabilitar el cursor */
}

/* Asegurarse de que los botones fuera de stock no sean clickeables */
.size-button:disabled {
    pointer-events: none; /* Deshabilita los clics */
    background-color: #ccc; /* Color gris */
    border: 2px solid #ffffff; /* Borde gris más oscuro */
}

/* Estilo para el botón seleccionado */
.size-button.selected {
    outline: 2px solid #000000; /* Outline amarillo cuando se selecciona el botón */
    
    background-color: #fff; /* Fondo blanco cuando está seleccionado */
}


/* Estilos para el contenedor de cantidad */
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea a la izquierda */
    margin-top: 10px;
}

/* Estilos para los botones de incremento y decremento */
.quantity-button {
    background-color: #ffffff;
    border: 1px solid #000;
    padding: 5px 10px; /* Reducir el padding para hacerlo más pequeño */
    font-size: 1rem; /* Reducir el tamaño de la fuente */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px; /* Separar ligeramente los botones */
    border-radius: 6px; /* Redondear las esquinas de los botones */
}

.quantity-button:hover {
    background-color: #dcdcdc; /* Amarillo suave */
}

/* Estilo para el campo de cantidad */
#quantity-input {
    width: 35px;           /* Ancho del campo de cantidad */
    height: 30px;          /* Altura del campo de cantidad */
    text-align: center;
    font-size: 1rem;       /* Tamaño de la fuente */
    margin: 0 5px;
    border: 1px solid #000;
    border-radius: 6px;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}


/* Para eliminar las flechas del campo input en algunos navegadores */
#quantity-input::-webkit-outer-spin-button,
#quantity-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    .quantity-container {
        /* Aseguramos que los elementos se mantengan en una fila en dispositivos móviles */
        flex-direction: row; /* Alinea los botones y el campo en una fila */
        align-items: center; /* Alinea los elementos verticalmente */
        justify-content: center; /* Centra los elementos */
    }

    .quantity-button {
        width: 30px; /* Ajusta el tamaño de los botones */
        height: 30px; /* Ajusta la altura de los botones */
    }

    #quantity-input {
        width: 50px; /* Ajusta el tamaño del input para que sea más visible */
        height: 30px; /* Asegura que el campo de cantidad sea de una altura cómoda */
    }
}



/* Estilo para el contenedor del logo */
.logo-container {
    position: absolute; /* Posiciona el logo en relación con la página */
    top: 30px; /* Distancia desde el borde superior */
    left: 50%; /* Centra el logo horizontalmente */
    transform: translateX(-50%); /* Ajusta el centro exacto */
    z-index: 999; /* Asegura que el logo esté por encima de otros elementos */
}

.logo {
    width: 300px; /* Ajusta el tamaño del logo */
    height: auto;
}


/* Estilos para el botón de Tabla de Tallas */
.size-chart-button {
    background-color: #ffffff; /* Color de fondo azul */
    color: rgb(0, 0, 0); /* Color del texto */
    font-size: 13px; /* Tamaño de la fuente */
    font-weight: 600; /* Peso de la fuente */
    padding: 10px 20px; /* Espaciado dentro del botón */
    border: 1px solid #000;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer; /* Indicador de cursor al pasar sobre el botón */
    transition: all 0.3s ease; /* Transición suave para efectos */
    margin-top: 10px; /* Espaciado superior */
}

.size-chart-button:hover {
    background-color: #d4e3f2; /* Color de fondo más oscuro al pasar el mouse */
    transform: scale(1.05); /* Efecto de aumento */
}

.size-chart-button:focus {
    outline: none; /* Elimina el borde azul cuando está enfocado */
}

/* Estilos para la ventana emergente (popup) */
.size-chart-popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    justify-content: center; /* Centra el contenido */
    align-items: center; /* Centra verticalmente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilos del contenido del popup (imagen) */
.size-chart-content {
    position: relative;
    background-color: #fff; /* Fondo blanco */
    padding: 20px; /* Espaciado alrededor de la imagen */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para el contenido */
}

.size-chart-content img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho de la pantalla */
    max-height: 90%; /* Asegura que la imagen no exceda la altura de la pantalla */
    border-radius: 10px; /* Redondear las esquinas de la imagen */
}

/* Estilos de cierre del popup: cuando se hace clic fuera de la caja, el popup se oculta */
.size-chart-popup.show {
    display: flex;
}

/* Estilos para el área detrás de la imagen para hacerla clickeable */
.size-chart-popup .size-chart-content {
    cursor: pointer; /* Apunta que la imagen es interactiva */
}





.slide-cart {
    position: fixed;
    right: -200px; /* Oculto fuera de la pantalla */
    top: 0; /* Ocupa todo el alto */
    width: 300px; /* Ancho del carrito */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    transition: right 0.3s ease; /* Suaviza la animación */
    z-index: 1000;
    height: 100%; /* Ocupa todo el alto de la pantalla */
    overflow-y: auto; /* Habilitar desplazamiento si es necesario */
    display: flex;
    flex-direction: column; /* Coloca los botones en una columna */
    align-items: center; /* Centra los botones horizontalmente */
    padding: 20px; /* Espaciado interno */
}

.slide-cart-content {
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    font-family: 'Titillium Web', sans-serif !important; /* La misma fuente Titillium Web */
    display: block !important; /* Cambiado de inline-block a block */
    line-height: 1.6 !important; /* Mantener la propiedad de line-height */
    padding: 20px;
}

.slide-cart h2 {
    margin: 10px 0; /* Espaciado alrededor del título */
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .slide-cart {
        width: 80%; /* Cambia el ancho a un 80% en móviles */
        right: -80%; /* Asegúrate de que esté oculto completamente */
    }

    .slide-cart.open {
        right: 0; /* Muestra el carrito cuando está abierto */
    }

    .slide-cart-content {
        padding: 10px; /* Ajusta el padding para que se vea mejor en móviles */
    }

    .cart-item img {
        width: 40px; /* Ajusta el tamaño de las imágenes de los productos */
    }

    #view-cart-button, #checkout-button {
        width: 80%; /* Botones ocupan todo el ancho */
        margin-top: 10px; /* Espacio entre botones */
    }

    #close-slide-cart{
        width: 40%; /* Botones ocupan todo el ancho */
        margin-top: 10px; /* Espacio entre botones */
    }
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.cart-item img {
    width: 50px; /* Ajustar el tamaño de la imagen */
    height: auto;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1; /* Ocupa el espacio restante */
}

/* Estilo de los botones */
#close-slide-cart {
    background-color: #000000;
    color: white;
    border: none;
    padding: 8px 15px; /* Botón de cerrar más pequeño */
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px; /* Espacio debajo del botón de cerrar */
}

#view-cart-button, #checkout-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px; /* Botones de ver carrito y pagar ahora del mismo tamaño */
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Espacio entre botones */
}

/* Efecto hover para los botones */
#close-slide-cart:hover,
#view-cart-button:hover,
#checkout-button:hover {
    background-color: #d3e3f3; /* Color más claro al pasar el mouse */
}